@*@using DoAn_Auction.Helpers;*@
@using DoAn_Auction.Models;
@model User

@section title
{
    Profile
}
@section css
{
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
}
@section js
{
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>
}
<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">My Profile</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
