@using BotDetect.Web.Mvc;

@section title
{
    Register
}
@section css
{
    <link href="~/assets/bootstrap-datepicker-master/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap-select.css" rel="stylesheet" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

    <style type="text/css">
        .help-clock {
            color: #BD3315;
        }
    </style>
}
@section js
{
    <script src="~/assets/jquery-validation-1.16.0/jquery.validate.min.js"></script>
    <script src="~/assets/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-select.js"></script>
    <script src="~/assets/js/mimity.js"></script>

    <script type="text/javascript">

        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true
        });

        jQuery.validator.addMethod("UniqueUser", function (value, element) {
            var url = '/Account/IsUsernameUnique/?input=' + value;
            var ret = false;
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                success: function (data) {
                    ret = data;
                    console.log(data);
                }
            });
            if (ret == "True") {
                return true;
            }
            if (ret == "False") {
                return false;
            }
        }, "Username đã tồn tại");
        jQuery.validator.addMethod("UniqueEmail", function (value, element) {
            var url = '/Account/IsEmailUnique/?input=' + value;
            var ret = false;
            $.ajax({
                type: 'POST',
                url: url,
                async: false,
                success: function (data) {
                    ret = data;
                    console.log(data);
                }
            });
            if (ret == "True") {
                return true;
            }
            if (ret == "False") {
                return false;
            }
        }, "Email đã tồn tại");
        $('#frmRegister').validate({
            
            highlight: function (element) {
                //var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                //$(id_attr).removeClass('glyphicon-ok').addClass('glyphicon-remove');
            },

            unhighlight: function (element) {
                //var id_attr = "#" + $(element).attr("id") + "1";
                $(element).closest('.form-group').removeClass('has-error');
                //$(id_attr).removeClass('glyphicon-remove').addClass('glyphicon-ok');
            },
            errorElement: 'span',
            errorClass: 'help-clock',
            rules: {
                Username: {
                    required: true,
                    //remote: {
                    //    url: "/Account/IsUsernameUnique/",
                    //    type: "post",
                    //    data: function () {
                    //            return $("#txtUsername").val();
                    //    }
                    //}
                    UniqueUser:true,
                },
                RawPWD: {
                    required: true,
                    minlength: 6
                },
                CPWD: {
                    required: true,
                    equalTo: '#txtPWD'
                },
                Name: {
                    required: true
                },
                Email: {
                    required: true,
                    email: true,
                    UniqueEmail: true,
                },
                DOB: {
                    required: true
                },
                Address:{
                    required: true,
                },
                Phone: {
                    required: true,
                    digits: true,
                    minlength: 9,
                    maxlength:11,
                }
            },

            messages: {
                Username: {
                    required: "Vui lòng nhập username",
                    UniqueUser: "Username đã tồn tại"
                },
                PWD: {
                    required: "Vui lòng nhập mật khẩu",
                    minlength: "Mật khẩu phải tối thiểu 6 kí tự"
                },
                CPWD: {
                    required: "Vui lòng nhập lại mật khẩu",
                    equalTo: "Sai mật khẩu nhập lại"
                },
                Name: {
                    required: "Vui lòng nhập họ tên"
                },
                Email: {
                    required: "Vui lòng nhập email",
                    email: "Email không hợp lệ",
                    UniqueEmail: "Email đã tồn tại"
                },
                DOB: {
                    required: "Vui lòng chọn ngày sinh"
                },
                Address: {
                    required: "Vui lòng nhập đại chỉ",
                },
                Phone: {
                    required: "Vui lòng nhập số điện thoại",
                    digits: "Số điện thoại không hợp lệ",
                    minlength: "Số điện thoại không hợp lệ",
                    maxlength: "Số điện thoại không hợp lệ",
                }
            }
        });
        $("div.alert").delay(4000).slideUp();

        //$('#txtUsername').blur(function () {
        //    var url = "/Account/CheckUserName";
        //    var name = $('#txtUsername').val();
        //    $.get(url, { input: name }, function (data) {
        //        if (data == "Available") {
        //            $("#result").html("<span style='color:green'></span>");
        //            $("#txtUsername").css('background-color', '');
        //        }
        //        else {
        //            $('#txtUsername').closest('.form-group').removeClass('has-success').addClass('has-error');
        //            $("#result").html("<span style='color:#BD3315'>Username đã tồn tại</span>");
        //            //$("#txtUsername").css('background-color', '#e97878');
        //        }
        //    });
        //})
    </script>

}



<!-- Breadcrumbs -->
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Register</li>
        </ol>
    </div>
</div>
<!-- End Breadcrumbs -->
